.app__header {
  background-color: var(--color-black);
  opacity: 0;
  animation: fade-in 0.5s ease-in-out;
  animation-fill-mode: forwards;
  padding-bottom: 10%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 117px;
  font-size: 90px;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.app__header-img img {
  width: 80%;
  height: 90%;
  opacity: 0;
  animation: slide-in 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 2000px) {
  .app__header-h1 {
    font-size: 180px;
    line-height: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__header-h1 {
    font-size: 90px;
  }
}

@media screen and (max-width: 650px) {
  .app__header-h1 {
    font-size: 70px;
    line-height: 87px;
  }
  .app__header-img img {
    width: 80%;
    height: 90%;
  }
  .app__wrapper_info {
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
}

@media screen and (max-width: 450px) {
  .app__header-h1 {
    font-size: 50px;
    line-height: 70px;
  }
  .app__header-img img {
    width: 80%;
    height: 90%;
  }
  .app__wrapper_info {
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
}
